* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
  color: white;
}
body {
  background: black;
  margin: 20px;
}
.par {
  color: blue;
}
.logo {
  color: red;
}
.squared {
  color: green;
}
.dollar {
  color: gold;
}
.command {
  color: skyblue;
}
.flag {
  color: green;
}
p {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.container {
  display: inline-block;
}
.typing {
  width: 100%;
  letter-spacing: 1;
  border-right: solid 7px;
  white-space: nowrap;
  overflow: hidden;
  color: white;
  animation: typing 1s steps(100), cursor 0.4s step-end infinite alternate;
}
@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes cursor {
  50% {
    border-right: transparent;
  }
}

.pButton {
  background: green;
  color: white;
  max-width: 165px;
  transition: opacity 150ms ease-in-out;
}
.pButton:hover {
  opacity: 0.8;
  cursor: pointer;
}
.processCommand {
  width: 100%;
  letter-spacing: 1;
  border-right: solid 7px;
  white-space: nowrap;
  overflow: hidden;
  color: gold;
  animation: typing 1s steps(100), cursor 0.4s step-end infinite alternate;
}
.processRequest {
  width: 100%;
  letter-spacing: 1;
  border-right: solid 7px;
  white-space: nowrap;
  overflow: hidden;
  color: green;
  animation: typing 1s steps(100), cursor 0.4s step-end infinite alternate;
}
.processError {
  width: 100%;
  letter-spacing: 1;
  border-right: solid 7px;
  white-space: nowrap;
  overflow: hidden;
  color: red;
  animation: typing 1s steps(100), cursor 0.4s step-end infinite alternate;
}
input {
  padding: 15px;
  outline: none;
  border: solid white 2px;
  background: black;
  color: yellow;
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media screen and (max-width: 1030px) {
  .typing,
  .processCommand,
  .processRequest,
  .processError {
    font-size: 18px;
  }
}
@media screen and (max-width: 950px) {
  .typing,
  .processCommand,
  .processRequest,
  .processError {
    font-size: 18px;
  }
}
@media screen and (max-width: 920px) {
  .typing,
  .processCommand,
  .processRequest,
  .processError {
    font-size: 17px;
  }
}
@media screen and (max-width: 880px) {
  .typing,
  .processCommand,
  .processRequest,
  .processError {
    font-size: 16px;
  }
}
@media screen and (max-width: 820px) {
  .typing,
  .processCommand,
  .processRequest,
  .processError {
    font-size: 15px;
  }
}
@media screen and (max-width: 760px) {
  .typing,
  .processCommand,
  .processRequest,
  .processError {
    font-size: 14px;
  }
}
@media screen and (max-width: 720px) {
  .typing,
  .processCommand,
  .processRequest,
  .processError {
    font-size: 13px;
  }
}
@media screen and (max-width: 680px) {
  .typing,
  .processCommand,
  .processRequest,
  .processError {
    font-size: 12px;
  }
  input {
    width: 100%;
  }
}
